{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                {{ form_start(form) }}

                {{ form_row(form.Title) }}
                {{ form_row(form.Message) }}

                <button type="submit" class="btn">Send</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}