<h3>Rejestracja przebiegła pomyślnie.</h3>

<p>witaj {{ name }}! Rejestracja przebiegła pomyślnie.</p>
<p>by myc się zalogować aktywuj konto  jest ważny 15 min.</p>
<a href="{{ url('activ', {'token':token}) }}"> link</a>

