{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}

    <div class="container">
        <canvas id="myChart"></canvas>


<div align="center">
                    <div class="table-responsive" id="employee_table">
                     <table class="table table-bordered">
<tr>
    <th>Data</th>
    {% for  data in lastdata %}
    <th width="10%">{{ data }}</th>
    {% endfor %}

</tr>
                         <tr>
                             <th>Comments</th>
                             {% for  Comments in packages %}
                                 <th >{{ Comments }}</th>
                             {% endfor %}

                         </tr>
                         <tr>
                             <th>Like</th>
                             {% for  like in likes %}
                                 <th>{{ like }}</th>
                             {% endfor %}

                         </tr>
                     </table>
                    </div>
</div>
    </div>

    <div align="center">
        <button name="create_excel" id="create_excel" class="btn btn-success " onClick='showMessage()' >Create Excel File</button>
    </div>


    <script type="text/javascript" src="{{ asset('assets/js/Prism.js') }}"></script>
    <script src="{{ asset('assets/js/Chart.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/gModal.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
        {% block javascripts %}

            <script>

                let myChart = document.getElementById('myChart').getContext('2d');
                let massPopChart = new Chart(myChart, {
                    type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                    data:{
                        labels: {{  lastdata|json_encode|raw }},
                        datasets:[{
                            label:'comments',
                            data:{{ packages|json_encode|raw }},
                            backgroundColor:'green',


                        },{
                            label:'like',
                            data:{{ likes|json_encode|raw }},
                            backgroundColor:'red',


                        }

                        ]
                    },
                    options:{},
                });
            </script>
            <script>function showMessage() {
                            var mymodal = new gModal({
                                title: "Export",
                                body: "jak chcesz wyeksportować dane",
                                buttons: [
                                    {
                                        content: "Wyślij",
                                        classes: "gmodal-button-red",
                                        bindKey: false, /* no key! */
                                        callback: function(modal){
                                            $.ajax({
                                                url: "{{ path('sendfile') }}", success: function () {
                                                alert("Raport wysłany")
                                                }
                                            });
                                            modal.hide();
                                        }
                                    },{
                                        content: "Zapisz",
                                        classes: "gmodal-button-green",
                                        bindKey: false, /* no key! */
                                        callback: function(modal){
                                            $.ajax({
                                                url: "{{ path('savefile') }}",
                                                    method: 'GET',
                                                        xhrFields: {
                                                        responseType: 'blob'
                                                    },
                                                    success: function (data) {
                                                        var a = document.createElement('a');
                                                        var url = window.URL.createObjectURL(data);
                                                        a.href = url;
                                                        a.download = 'Raport.xlsx';
                                                        document.body.append(a);
                                                        a.click();
                                                        a.remove();
                                                        window.URL.revokeObjectURL(url);
                                                    }
                                            })
                                            modal.hide();
                                        }
                                    }
                                ],
                                close: {
                                    closable: false,
                                }
                            });
                            mymodal.show();
                }




            </script>





        {% endblock %}