<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/blog-home.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">

            <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
            <link href="https://www.sowecms.com/demos/gModal/assets/prism.css" rel="stylesheet" type="text/css" />
            <link href={{ asset('assets/css/gModal.min.css') }} rel="stylesheet" type="text/css" />




        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage')}}">Blog Pogo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% if is_granted ('ROLE_ADMIN')%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('post_add') }}"> Dodaj Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('invitation') }}"> Zaproś</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ban') }}"> zablokuj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('Dashboard ') }}"> Dashboard</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('newsletter') }}">Newsletter</a>
                    </li>
                    {% if is_granted ('ROLE_ADMIN')%}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sendNewsletter') }}">wyślij newsletter</a>
                        </li>
                    {% endif %}
                    {% if is_granted ('IS_ANONYMOUS')%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">zaloguj</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}">Zarejestruj</a>
                    </li>
                    {% endif %}
                    {% if not is_granted ('IS_ANONYMOUS')%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">wyloguj</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
        {% block body %}

        {% endblock %}
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
