{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">


                {% if flashesbag.success is defined %}
                    <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                        <p>{{ flashesbag.success[0] }}</p>
                    </div>
                {% endif %}

                {% if flashesbag.error is defined %}
                    <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                        <p>{{ flashesbag.error[0] }}</p>
                    </div>
                {% endif %}
                <h1 class="my-4">POGO BLOG
                    <small>Same Kłamstwa</small>
                </h1>
                {% for post in posts %}
                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title}}</h2>
                        <p class="card-text">{{ post.Message }}</p>
                        <a href="{{ path('Post_Show',   {'PostId': post.id}) }}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">{{ post.Data_Add|date('Y-m-d h:i:s') }}</p>
                    </div>
                </div>

                {% endfor %}

                        </div>
                    </div>
                </div>



{% endblock %}