{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts %}
                <!-- Page Content -->
                <div class="container">

                    <div class="row">

                        <div class="col-lg-8">
                            {% if flashesbag.success is defined %}
                                <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                                    <p>{{ flashesbag.success[0] }}</p>
                                </div>
                            {% endif %}

                            {% if flashesbag.error is defined %}
                                <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                                    <p>{{ flashesbag.error[0] }}</p>
                                </div>
                            {% endif %}

                            <h1 class="mt-4">{{ post.title}}</h1>

                            <hr>
                            <div class="d-inline-block">
                            <!-- Date/Time -->
                            <p>{{ post.data_add|date('Y-m-d h:i:s')}}</p>

                            <p>{{ post.Message }}</p>
                            </div>                    <div class="d-inline-block float-right">
                                {% if is_granted ('ROLE_ADMIN')%}
                                <a class="btn btn-outline-primary my-2" href="{{ path('Post_edit',   {'idPost': post.id}) }}"><i class="far fa-edit">Edit</i></a>
                                <a class="btn btn-outline-danger" href="{{ path('UnActivePost',   {'idPost': post.id}) }}"></i>UnActive</a>
                                {% endif %}
                            <p><a>Like:</a>{{ count }}
                            {{ form_start(formLike) }}
                                {% if unlike is null %}
                                <a>Zostaw</a>
                                <button type="submit" class="btn btn-primary">Like</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary">UnLike</button>
                                    {% endif %}
                                {{ form_end(formLike) }}</p></div>
                            <hr>
                        </div>

                    </div>
                    {% if not is_granted ('IS_ANONYMOUS')%}
                        <div class="card my-4">
                            <h5 class="card-header">Zostwa komentarz:</h5>
                            <div class="card-body">
                                    <div class="form-group">

                                        {{ form_start(formComment) }}
                                        {{ form_row(formComment.Comment) }}
                                        <button type="submit" class="btn btn-primary">Wyślij</button>
                                        {{ form_end(formComment) }}
                                    </div>
                            </div>
                            {% if Comments is not null %}
                            {% for Comment in Comments %}


                                        <div class="col-lg-12">
                                            <hr>
                                <div class="d-inline-block">
                                {% if Comment.is_active==true %}
                                            <p>{{ Comment.user}}</p>
                                            <p>{{ Comment.DataAdd|date('Y-m-d h:i:s')}}</p>
                                            <p>{{ Comment.comment }}</p>
                                    </div>

                                            {% if is_granted ('ROLE_ADMIN')%}

                                    <div class="d-inline-block float-right">
                                        <a class="btn btn-outline-danger" href="{{ path('UnActiveComment',   {'commentid': Comment.id}) }}"></i>UnActive</a>


                                    </div>
                                            {% endif %}
                                            {% else %}
                                                <p>{{ Comment.user}}</p>
                                                <p>{{ Comment.DataAdd|date('Y-m-d h:i:s')}}</p>
                                                <p>Komentarz usunięty przez administratora</p>

                                                {% endif %}

                                            <hr>

                                        </div>

                            {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
    {% endfor %}

{% endblock %}