{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="text-center">
                <form method="post">
                    {% if flashesbag.success is defined %}
                        <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                            <p>{{ flashesbag.success[0] }}</p>
                        </div>
                    {% endif %}

                    {% if flashesbag.error is defined %}
                        <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                            <p>{{ flashesbag.error[0] }}</p>
                        </div>
                    {% endif %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >


                    <button class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </form>
                <a href="{{ path('app_PasswordReset') }}">nie pamiętam hasła</a>
            </div>    <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
