{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                {% if flashesbag.success is defined %}
                    <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                        <p>{{ flashesbag.success[0] }}</p>
                    </div>
                {% endif %}

                {% if flashesbag.error is defined %}
                    <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                        <p>{{ flashesbag.error[0] }}</p>
                    </div>
                {% endif %}
                {{ form_start(form) }}
                {{ form_row(form.plainPassword) }}

                <button type="submit" class="btn">zmień hasło</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}